html, body {
    background-color: #F0F8FF;
    margin: 0;
    padding: 0;
  }
  
.date {
    font-size: small;
}

.preview {
    max-height: 15em;
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courier New', Courier, monospace;
    color: #70BCFF;
  }
  
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
  }

.menu {
    background-color: #B0DAFF;
    width: 100%;
    display: grid;
    column-gap: 2.5%;
    padding: 10px 10% 10px 10% ;
    grid-template-columns: 25% 25% 25%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu-link {
    font-weight:normal;
    text-decoration:none;
    color:black;
}

.menu-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.main {
    width: 50%;
    margin:0 auto;
    padding: 100px 25px 100px 25px;
}
