<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    {% load static %}
    {% load markdownify %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    {% include 'blog/includes/navbar.html' %}
    <div class='main'>
        {% for blog in page_obj %}
            <div>
                <hr>
                <h1>{{ blog.title }}</h3>
                <p class=date>{{ blog.date }}, by {{ blog.author }}</p>
                <p>
                    <div class=preview>{{ blog.body|markdownify }}</div>
                    <br>
                    <a href="/blog/{{ blog.id }}/">{{  "Read all..." }}</a>
                </p>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>